/bos_management/.settings
/bos_management/.classpath
/bos_management/.project
/crm_domain/.settings
/crm_domain/target
/crm_management/.settings
/crm_management/target
target
/bos_fore/*.iml
/bos_fore/*.classpath
/bos_fore/*.gitignore
/bos_fore/*.project
/common_parent/*.project
/common_parent/*.iml
/common_parent/*
/bos_mymanagement/*.gitignore
/bos_mymanagement/*.project
/bos_mymanagement/*.iml
/bos_mymanagement/*.classpath
/bos_mymanagement/.settings
/crm_domain/*.project
/crm_domain/*.iml
/crm_domain/*.classpath
/crm_domain/*.gitignore
/crm_management/*.project
/crm_management/*.iml
/crm_management/*.classpath
/crm_management/*.gitignore
/quartzDemo
