<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 扫描 @Server @Controller @Repository -->
	<context:component-scan base-package="cn.itcast"/>
	<!-- 本系统操作的实体类为客户，实体类的持久化操作由crm系统进行，因此本系统不需要进行持久化配置 -->
	<!-- 引入redis配置 -->
	<import resource="applicationContext-cache.xml"/>
	<!-- 引入ActiveMQ配置 -->
	<import resource="applicationContext-mq-producer.xml"/>
</beans>