<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">



	<!-- 扫描 @Server @Controller @Repository -->
	<context:component-scan base-package="cn.itcast"/>

	<!--引入持久化层配置-->
	<import resource="applicationContext-data.xml"/>
	<!--发布服务-->
	<import resource="applicationContext-webService.xml"/>
	<!--引入定时器配置-->
	<import resource="applicationContext-quartz.xml"/>
	<!--引入ActiveMQ生产者-->
	<import resource="applicationContext-mq-producer.xml"/>
	<!--引入全文检索配置文件-->
	<import resource="applicationContext-elasticsearch.xml"/>
	<!--引入权限控制-->
	<import resource="applicationContext-shiro.xml"/>
	<!--引入缓存-->
	<import resource="applicationContext-cache.xml"/>

	
</beans>
